@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');
#wrap{
    min-width:1000px;
    overflow:hidden;
}
.wrap{
    width:980px;
    margin:0 auto;
}
body,input{
    font-family:'Nanum Gothic','sans-serif';
}
/*----------------------------------------------*/
header .head1{
    width:100%;
    background:#3b3b3b;
}
header .head1 .wrap .utill{
    float:right;
}
header .head1 .wrap .utill li{
    float:left;
    margin-left:7px;
    line-height:30px;
    color:#fff;
}
header .head1 .wrap .utill li:not(:last-child)::after{
    display:inline-block;
    content:'';
    width:1px;
    height:10px;
    background:#fff;
    vertical-align:middle;
    margin-left:7px;
}
header .head1 .wrap .utill li a{
    font-size:12px;
    line-height:40px;
}
header .head2{
    height:150px;
}
header .head2 h1{
    float:left;
    margin-top:48px;
    margin-right:50px;
}
header .head2 h1 a img{
    height:46px;
}
header .head2 .search{
    float:left;
    margin-top:50px;
}
header .head2 .search input{
    float:left;
    box-sizing:border-box;
    border:5px solid #e04441;
    height:46px;
    padding-left:10px;
    width:400px;
    font-size:15px;
    outline-color:transparent;
}
header .head2 .search button{
    float:left;
    background:#e04441;
    border:transparent;
    color:#fff;
    height:46px;
    width:100px;
    font-size:16px;
    font-weight:bold;
    line-height:45px;
    outline-color:transparent;
    margin-left:10px;
    cursor:pointer;
    font-family:'Nanum Gothic','sans-serif';
}
header .head2 .search p{
    font-size:15px;
    padding-top:3px;
    clear:both;
}
header .head2 .search p a{
    margin-left:10px;
}
header .head2 .search p a:active{
    color:#e04441;
}
header .head2 .slider{
    float:right;
    position:relative;
    margin-top:40px;
}
header .head2 .slider .img_slider{
    width:200px;
    height:100px;
}
header .head2 .slider .img_slider li{
    display:none;
}
header .head2 .slider .img_slider li.on{
    display:block;
}
header .head2 .slider .control{
    position:absolute;
    right:0;
    bottom:-10px;
}
header .head2 .slider .control a{
    float:left;
    height:15px;
}
header .gnb{
    background:#3b3b3b;
    position:relative;
}
header .gnb .wrap li{
    float:left;
    transition:all 0.3s;
    color:#fff;
    font-weight:bold;
    position:relative;
}
header .gnb .wrap li:not(:first-child):not(:last-child)::after{
    content:'';
    position:absolute;
    height:30px;
    width:2px;
    background:#fff;
    top:10px;
    right:-1px;
    border-radius:4px;
    z-index:1;
}
header .gnb .wrap li:hover{
    background:#555;
}
header .gnb .wrap li:first-child{
    width:216px;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    user-select:none;
    background:#e04441;
}
header .gnb .wrap li:first-child.on{
    background:#dd6865;
}
header .gnb .wrap li:first-child .menu{
    height:20px;
    position:relative;
    float:left;
    margin-top:15px;
    margin-left:15px;
}
header .gnb .wrap li:first-child .menu span{
    text-indent:-9999px;
    height:4px;
    width:20px;
    background:#fff;
    display:block;
    position:absolute;
    border-radius:10px;
    left:0;
    transition:all 0.3s;
}
header .gnb .wrap li:first-child .menu span:first-child{
    top:0;
}
header .gnb .wrap li:first-child .menu span:nth-child(2){
    top:50%;
    margin-top:-2px;
}
header .gnb .wrap li:first-child .menu span:last-child{
    bottom:0;
}
header .gnb .wrap li:first-child.on .menu span:first-child{
    transform:rotate(45deg);
    top:8px;
}
header .gnb .wrap li:first-child.on .menu span:nth-child(2){
    opacity:0;
}
header .gnb .wrap li:first-child.on .menu span:last-child{
    transform:rotate(-45deg);
    bottom:8px;
}
header .gnb .wrap li>a{
    display:block;
    width:191px;
    line-height:50px;
    text-align:center;
}
header .gnb .wrap li:first-child>a{
    width:216px;
}
header .gnb .menu_in{
    width:980px;
    background:#fff;
    position:absolute;
    z-index:4;
    border:1px solid #ccc;
    display:none;
    left:50%;
    margin-left:-490px;
    top:50px;
    padding-top:10px;
}
header .gnb .menu_in ul{
    float:left;
    width:180px;
    margin-bottom:20px;
    box-sizing:border-box;
    padding-left:16px;
    margin-right:16px;
    color:#333;
}
header .gnb .menu_in ul:nth-child(3){
    float:right;
}
header .gnb .menu_in ul li{
    line-height:1.5;
    font-size:13px;
}
header .gnb .menu_in ul li h4{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin-bottom:10px;
}
/*----------------------------main_bn-------------------------*/
.main_bn{
    position:relative;
    overflow:hidden;
}
.main_bn .main_slider_wrap{
    width:2000px;
    height:400px;
    overflow:hidden;
    position:relative;
    left:50%;
    margin-left:-1000px;
}
.main_bn .main_slider_wrap #main_slider{
    height:100%;
}
.main_bn .main_slider_wrap #main_slider li{
    position:absolute;
    top:0;
    transition:left 0.5s;
    display:none;
}
.main_bn #main_pager{
    position:absolute;
    left:50%;
    bottom:20px;
    z-index:2;
    margin-left:-45px;
}
.main_bn #main_pager a:not(:last-child){
    margin-right:10px;
}
.main_bn #main_pager a{
    float:left;
    width:15px;
    height:15px;
    background:#ccc;
    border-radius:50%;
    text-indent:-9999px;
    transition:transform 0.5s;
}
.main_bn #main_pager a.on{
    transform:scale(1.3);
    background:#666;
}
.main_bn #main_pager span:not(:last-child){
    margin-right:10px;
}
.main_bn .main_control{
    position:relative;
    z-index:3;
}
.main_bn .main_control a{
    position:absolute;
    top:-225px;
    opacity:0.5;
    transition:all 0.5s;
}
.main_bn .main_control a:hover{
    opacity:1;
}
.main_bn .main_control a.main_prev{
    left:0;
}
.main_bn .main_control a.main_next{
    right:0;
}
.main_bn #main_player{
    position:absolute;
    bottom:18px;
    left:50%;
    z-index:3;
    color:#fff;
    margin-left:60px;
}
.main_bn #main_player a{
    display:block;
    float:left;
    text-indent:-9999px;
    background-repeat:no-repeat;
    background-position:center;
    height:20px;
    transition:transform 0.5s;
}
.main_bn #main_player a.play{
    background-image:url(../img/player_play_off.png);
    width:12px;
}
.main_bn #main_player a.play.on{
    background-image:url(../img/player_play_on.png);
    transform:scale(1.4);
}
.main_bn #main_player a.stop{
    background-image:url(../img/player_stop_off.png);
    width:18px;
    margin-left:10px;
    transform:scale(0.9);
}
.main_bn #main_player a.stop.on{
    background-image:url(../img/player_stop_on.png);
    transform:scale(1.2);
}
/*--------------------section_1-.event------------------------*/
.event{
    margin-top:100px;
}
.event .box1{
    float:left;
}
.event .box1 a{
    display:block;
    margin-bottom:20px;
}
.event .box2{
    float:left;
}
.event .box2 a{
    display:block;
    margin-bottom:20px;
    margin-left:20px;
}
.event .box3 a{
    float:left;
    position:relative;
}
.event .box3 a img{
    transition:all 0.3s;
}
.event .box3 a:hover img{
    filter:blur(2px);
}
.event .box3 a p{
    position:absolute;
    top:0;
    left:0;
    width:230px;
    height:200px;
    line-height:200px;
    text-align:center;
    color:#fff;
    font-size:30px;
    font-weight:bold;
    opacity:0;
    transition:all 0.5s;
}
.event .box3 a:hover p{
    opacity:1;
    background:rgba(0, 0, 0, 0.7);
}
.event .box3 a:not(:first-child){
    margin-left:20px;
}
/*--------------------section_2-.stuff------------------------*/
.stuff{
    padding-top:100px;
}
.stuff h2{
    text-align:center;
    font-size:40px;
    color:#191919;
    margin-bottom:20px;
}
.stuff h2 span{
    border-bottom:3px solid #e04441;
    padding:0 15px;
    padding-bottom:6px;
}
.stuff .new_stuff>p, .stuff .best_stuff>p, .stuff .sale_stuff>p{
    text-align:center;
    font-size:14px;
    color:#666;
    margin-bottom:20px;
}
.stuff .best_stuff, .stuff .sale_stuff{
    margin-top:100px;
}
.stuff .new_stuff, .stuff .best_stuff, .stuff .sale_stuff{
    width:100%;
    height:430px;
    position:relative;
}
.stuff .new_stuff .overflow, .stuff .best_stuff .overflow, .stuff .sale_stuff .overflow{
    position:relative;
    overflow:hidden;
    height:330px;
}
.stuff .new_stuff .overflow>div, .stuff .best_stuff .overflow>div, .stuff .sale_stuff .overflow>div{
    transition:all 0.5s;
    position:absolute;
    top:0;
    display:none;
    background:#fff;
    height:100%;
    width:100%;
}
.stuff .new_stuff .overflow>div article, .stuff .best_stuff .overflow>div article, .stuff .sale_stuff .overflow>div article{
    width:230px;
    float:left;
}
.stuff .new_stuff .overflow>div article:not(:last-child), .stuff .best_stuff .overflow>div article:not(:last-child), .stuff .sale_stuff .overflow>div article:not(:last-child){
    margin-right:20px;
}
.stuff .new_stuff .overflow>div article a .txt_box, .stuff .best_stuff .overflow>div article a .txt_box, .stuff .sale_stuff .overflow>div article a .txt_box{
    box-sizing:border-box;
    padding:0 5px;
}
.stuff .new_stuff .overflow>div article a .txt_box p.txt1, .stuff .best_stuff .overflow>div article a .txt_box p.txt1, .stuff .sale_stuff .overflow>div article a .txt_box p.txt1{
    font-size:15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#191919;
    padding:5px 0;
    font-weight:bold;
}
.stuff .new_stuff .overflow>div article a .txt_box p.txt2, .stuff .best_stuff .overflow>div article a .txt_box p.txt2, .stuff .sale_stuff .overflow>div article a .txt_box p.txt2{
    font-size:12px;
    height:32px;
    color:#666;
    margin-bottom:5px;
}
.stuff .new_stuff .overflow>div article a .txt_box span:not(.sale), .stuff .best_stuff .overflow>div article a .txt_box span:not(.sale), .stuff .sale_stuff .overflow>div article a .txt_box span:not(.sale){
    font-size:17px;
    color:#111;
    font-weight:bold;
}
.stuff .new_stuff .overflow>div article a .txt_box span.sale, .stuff .best_stuff .overflow>div article a .txt_box span.sale, .stuff .sale_stuff .overflow>div article a .txt_box span.sale{
    font-size:13px;
    color:#888;
    text-decoration:line-through;
    display:block;
    line-height:1.2;
}
.stuff .new_stuff .new_stuff_control, .stuff .best_stuff .best_stuff_control, .stuff .sale_stuff .sale_stuff_control{
    position:absolute;
    right:0;
    top:230px;
    width:980px;
    height:0;
}
.stuff .new_stuff .new_stuff_control a, .stuff .best_stuff .best_stuff_control a, .stuff .sale_stuff .sale_stuff_control a{
    opacity:0.5;
    transition:all 0.5s;
}
.stuff .new_stuff .new_stuff_control a:hover, .stuff .best_stuff .best_stuff_control a:hover, .stuff .sale_stuff .sale_stuff_control a:hover{
    opacity:1;
    background:rgba(142, 142, 142, 0.5);
}
.stuff .new_stuff .new_stuff_control a.prev, .stuff .best_stuff .best_stuff_control a.prev, .stuff .sale_stuff .sale_stuff_control a.prev{
    float:left;
}
.stuff .new_stuff .new_stuff_control a.next, .stuff .best_stuff .best_stuff_control a.next, .stuff .sale_stuff .sale_stuff_control a.next{
    float:right;
}
/*------------------footer---------------------*/
footer{
    background:#3b3b3b;
    padding-bottom:50px;
    padding-top:80px;
    color:#ccc;
    margin-top:100px;
}
footer .wrap{
    position:relative;
}
footer .wrap h1{
    float:left;
    margin-right:50px;
    margin-top:35px;
}
footer .wrap h1 img{
    height:45px;
}
footer .wrap .right{
    float:left;
}
footer .wrap .right .footer_nav{
    font-size:12px;
    margin-bottom:20px;
    max-height:9999px;
}
footer .wrap .right .footer_nav li{
    float:left;
}
footer .wrap .right .footer_nav li:not(:last-child)::after{
    content:'';
    display:inline-block;
    height:10px;
    width:1px;
    background:#fff;
    vertical-align:middle;
    margin:0 10px;
}
footer .wrap .right .footer_txt{
    line-height:1.3;
    font-size:12px;
    max-height:9999px;
}
footer .wrap .right .footer_txt li address{
    display:inline;
}
footer .wrap .right .footer_txt li:last-child{
    margin-top:5px;
}
.mobile_go{
    width:100%;
    height:100px;
    background:#ccc;
    color:#fff;
    border:2px solid #111;
    font-size:30px;
    text-align:center;
    line-height:100px;
    box-sizing:border-box;
    display:none;
}
.mobile_go a{
    display:block;
    width:100%;
    height:100%;
}